<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>EDIT STUDENT</title>
    <%- include layout/bootstrap %>
  </head>

  <body>
    <%- include layout/header %>
      <ol class="breadcrumb" align=left>
        <li><a href="/homepage">Homepage</a></li>
        <li><a href="/student">Student</a></li>
        <li class="active">Edit Student</li>
      </ol>
      <div class="title" align=center>

        <h1>FORM</h1>
        <form action="/student/edit/<%= dataTcui[0].id %>" method="post">
          <input type="text" name="depan" value="<%= dataTcui[0].first_name %>"><br>
          <input type="text" name="belakang" value="<%= dataTcui[0].last_name %>"><br>
          <input type="text" name="email" value="<%= dataTcui[0].email %>"><br>
          <input type="submit" value="Submit">
        </form>
        <br><br>
        <a href="/student" class="btn btn-primary btn-lg active">BACK</a>
      </div>
  </body>

</html>
</div>
</body>

</html>
</div>
</body>

</html>
