<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>STUDENT</title>
    <%- include layout/bootstrap %>
  </head>

  <body>
    <%- include layout/header %>
      <ol class="breadcrumb" align=left>
        <li><a href="/homepage">Homepage</a></li>
        <li class="active">Student</li>
      </ol>
      <div class="title" align=center>
        <table align=center class="table table-hover">
          <tr>
            <th>ID</th>
            <th>NAMA DEPAN</th>
            <th>NAMA BELAKANG</th>
            <th>EMAIL</th>
          </tr>
          <% var x = 1%>
            <% dataTcui.forEach( cont => { %>
              <tr>
                <td>
                  <%= x++ %>
                </td>
                <td>
                  <%= cont.first_name %>
                </td>
                <td>
                  <%= cont.last_name %>
                </td>
                <td>
                  <%= cont.email %>
                </td>
                <td><a href="/student/addsubject/<%= cont.id %>">Add Subject</a></td>
                <td><a href="/student/delete/<%= cont.id %>" onclick="return confirm('Are you sure?')">DELETE</a> | <a href="/student/edit/<%= cont.id %>">EDIT</a></td>
              </tr>
              <% }) %>
        </table>
        <br>
        <a href="/student/add" class="btn btn-primary btn-lg active">ADD STUDENT</a>
        <br><br><br>
        <a href="/homepage" class="btn btn-primary btn-lg active">BACK</a>
      </div>
  </body>

</html>
