<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>ASSIGN SUBJECT</title>
    <%- include layout/bootstrap %>
  </head>

  <body>
    <%- include layout/header %>
      <div class="title" align=center>

        <table align=center class="table table-hover">
          <% dataTcui.forEach( cont => { %>
            <tr>
              <td>First Name</td>
              <td>
                <%= cont.first_name %>
              </td>
            </tr>
            <tr>
              <td>Last name</td>
              <td>
                <%= cont.last_name %>
              </td>
            </tr>
            <tr>
              <td>
                Email
              </td>
              <td>
                <%= cont.email %>
              </td>
            </tr>
            <% }) %>
        </table>

        <h1>EDIT</h1>
        <form action="/student/addsubject/<%= dataTcui[0].id %>" method="post">
          <select name="subId" class="form-control">
          <% subs.forEach( sub => { %>
          <option value="<%=sub.id%>">
            <%= sub.subject_name%>
          </option>
        <% }) %>
          </select>
          <input type="submit" value="Submit">
        </form>
        <br><br>
        <a href="/student" class="btn btn-primary btn-lg active">BACK</a>
      </div>
  </body>

</html>
</div>
</body>

</html>
</div>
</body>

</html>
