<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body align=center>

    <table align=center>
        <tr>
            <th>ID</th>
            <th>NAMA DEPAN</th>
            <th>NAMA BELAKANG</th>
            <th>EMAIL</th>
            <th>SUBJECT</th>
        </tr>
        <% dataTcui.forEach( cont => { %>
            <tr>
                <td>
                    <%= cont.id %>
                </td>
                <td>
                    <%= cont.first_name %>
                </td>
                <td>
                    <%= cont.last_name %>
                </td>
                <td>
                    <%= cont.email %>
                </td>
                <%if (cont.SubjectId !== null) {%>
                    <td>
                        <%=cont.Subject.subject_name%>
                    </td>
                    <%} else {%>
                        <td>
                            unassigned
                        </td>
                        <%}%>
                            <td><a href="/teacher/edit/<%= cont.id %>">EDIT</a></td>
                            <td><a href="/teacher/delete/<%= cont.id %>" onclick="return confirm('Are you sure?')">DELETE</a></td>
            </tr>
            <% }) %>
    </table>

    <br>
    <button type="button" name="button"><a href="/teacher/add">ADD MEMBER</a></button>
    <br><br><br>
    <a href="/">BACK</a>

</body>

</html>