<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>TEACHER</title>
    <%- include layout/bootstrap %>
  </head>

  <body>
    <%- include layout/header %>
      <ol class="breadcrumb" align=left>
        <li><a href="/homepage">Homepage</a></li>
        <li class="active">Teacher</li>
      </ol>

      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>NAMA DEPAN</th>
          <th>NAMA BELAKANG</th>
          <th>EMAIL</th>
          <th>SUBJECT</th>
        </tr>
        <% var x = 1%>
          <% dataTcui.forEach( cont => { %>
            <tr>
              <td>
                <%= x++ %>
              </td>
              <td>
                <%= cont.first_name %>
              </td>
              <td>
                <%= cont.last_name %>
              </td>
              <td>
                <%= cont.email %>
              </td>
              <%if (cont.SubjectId !== null) {%>
                <td>
                  <%=cont.Subject.subject_name%>
                </td>
                <%} else {%>
                  <td>
                    unassigned
                  </td>
                  <%}%>
                    <td><a href="/teacher/edit/<%= cont.id %>">EDIT</a></td>
                    <td><a href="/teacher/delete/<%= cont.id %>" onclick="return confirm('Are you sure?')">DELETE</a></td>
            </tr>
            <% }) %>
      </table>
      <div align=center>
        <br><a href="/teacher/add" class="btn btn-primary btn-lg active">ADD TEACHER</a>
        <br><br><br>

        <a href="/" class="btn btn-primary btn-lg active">BACK</a>
      </div>

  </body>

</html>
